@import "tailwindcss";

@font-face {
    font-family: "bgrot";
    font-style: normal;
    font-weight: 100 900;
    /* Variable font weight range */
    font-display: swap;
    src: url("/fonts/bg/BricolageGrotesque-VariableFont_opsz,wdth\,wght.ttf") format("truetype-variations");
}
@font-face {
    font-family: "montserrat italic";
    font-style: italic;
    font-weight: 100 900;
    /* Variable font weight range */
    font-display: swap;
    src: url("/fonts/mont/Montserrat-Italic-VariableFont_wght.ttf") format("truetype-variations");
}
@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 100 900;
    /* Variable font weight range */
    font-display: swap;
    src: url("/fonts/mont/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
}
@font-face {
    font-family: "bgrot";
    font-style: normal;
    font-weight: 100 900;
    /* Variable font weight range */
    font-display: swap;
    src: url("/fonts/bg/BricolageGrotesque-VariableFont_opsz,wdth\,wght.ttf") format("truetype-variations");
}

/* Then update your theme */
@theme {
    --font-bgrot: "bgrot", "sans-serif";
    --font-montserrat: "montserrat", "sans-serif";
    --font-montserrat-italic: "montserrat italic", "sans-serif";

    --text-MqSmall: min(max(0rem, 3.5vw),1rem);
    --text-MqMedium: min(max(0rem, 4vw),1.2rem);
    --text-MqLarge: min(max(0.5rem, 3vw),2rem);
    --text-MqXLarge: min(max(0.7rem, 2vw),2.2rem);
    /* --text-MqXXLarge: min(max(0.7rem, 1.8vw),1.9rem); */

    /* color */
    --color-pri: #fff;
    --color-sec: #000;
    --color-tert: #C6FFA0;
    
    --color-box-1: #E4FFA0;
    --color-box-2: #FFD4A0;
    --color-box-3: #AEA0FF;
    

    /* color end */

    --breakpoint-xsm: 500px;
    
    --spacing-0hem: 0.5em;
    --spacing-1em: 1em;
    --spacing-1hem: 1.5em;
    --spacing-2em: 2em;
    --spacing-2hem: 2.5em;
    --spacing-3em: 3em;
    --spacing-3hem: 3.5em;
    --spacing-4em: 4em;
    --spacing-4hem: 4.5em;
    --spacing-5em: 5em;
    --spacing-5hem: 5.5em;
    --spacing-6em: 6em;
    --spacing-6hem: 6.5em;
    --spacing-7em: 7em;
    --spacing-7hem: 7.5em;
    --spacing-8em: 8em;
    --spacing-8hem: 8.5em;
    --spacing-9em: 9em;
    --spacing-9hem: 9.5em;
    --spacing-10em: 10em;
    --spacing-10hem: 10.5em;
}


html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    @apply text-[5vw] xsm:text-[3.15vw] md:text-[1.98vw] lg:text-[1.15vw] xl:text-[0.99vw] 2xl:text-[0.905vw] ;
}

svg{
    width:100%;
    height:100%;
}
  

body {
    @apply bg-(--color-pri) text-(--color-sec) font-bgrot font-bold
}

.sectionController{
    @apply text-MqSmall md:text-MqMedium lg:text-MqLarge xl:text-MqXLarge ;
}

.displayNone{
    @apply opacity-0 pointer-events-none;
}

.tanButton{
    @apply hover:scale-[1.05] duration-[200ms] transition-transform cursor-pointer hover:opacity-85;
    transition-timing-function:cubic-bezier(.14,.1,.34,1.63);
}

.monotonButton{
    @apply  transition-[font-weight] duration-300 hover:font-bold
}

.cardsButton{
    @apply cursor-pointer hover:shadow hover:shadow-[#a2b9907c] hover:scale-[1.05] duration-[200ms] transition-[scale,box-shadow,background-color];
    transition-timing-function:cubic-bezier(.14,.1,.34,1.63);
}

.activeGroup{
    @apply bg-[#000000] text-[#fff] ;
}



.activeRank{
    @apply bg-[#000000] text-[#fff] ;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30% { transform: translateX(-5px); }
    20%, 40% { transform: translateX(5px); }
    50% { transform: translateX(0); }
}

.shakeGroup {
    animation: shake 0.5s ease-in-out;
}